<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkeet.smartrevaadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".alumni.AlumniMainActivity" />
        <activity android:name=".councling.CounclingMain" />
        <activity android:name=".fees.FeesMain" />
        <activity android:name=".placements.PlacementsMain" />
        <activity android:name=".alumni.MemberRequestActivity" />
        <activity android:name=".alumni.AddEventActivity" />
        <activity android:name=".alumni.EventListActivity" />
        <activity android:name=".alumni.MemberRequestManager" />
        <activity android:name=".alumni.EventListManager" />
        <activity android:name=".fees.ViewFeeActivity" />
        <activity android:name=".fees.AddFeeDetailsActivity" />
        <activity android:name=".councling.ManageReservationsActivity" />
        <activity android:name=".councling.ViewReservationActivity" />
        <activity android:name=".councling.MyAppointmentsActivity" />
        <activity android:name=".councling.RemarksActivity" />
        <activity android:name=".councling.ViewWallPostsActivity" />
        <activity android:name=".councling.AddWallPostActivity" />
        <activity android:name=".councling.NotificationActivity"></activity>
    </application>

</manifest>