<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkeet.smartrevaadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Alumni.AlumniMainActivity" />
        <activity android:name=".Counselling.CounclingMainActivity" />
        <activity android:name=".Fees.FeesMainActivity" />
        <activity android:name=".Placements.PlacementsMainActivity" />
        <activity
            android:name=".Alumni.AlumniMemberRequestActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Alumni.AlumniAddEventActivity" />
        <activity android:name=".Alumni.AlumniEventListActivity" />
        <activity
            android:name=".Alumni.AlumniMemberRequestManager"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Alumni.AlumniEventListManager" />
        <activity android:name=".Fees.ViewFeeActivity" />
        <activity android:name=".Fees.AddFeeDetailsActivity" />
        <activity android:name=".Counselling.CounclingManageReservationsActivity" />
        <activity android:name=".Counselling.CounclingViewReservationActivity" />
        <activity android:name=".Counselling.CounclingMyAppointmentsActivity" />
        <activity android:name=".Counselling.CounclingRemarksActivity" />
        <activity android:name=".Counselling.CounclingViewWallPostsActivity" />
        <activity android:name=".Counselling.CounclingAddWallPostActivity" />
        <activity android:name=".Counselling.CounclingNotificationActivity" />
        <activity android:name=".Counselling.CounclingMyAppointmentManager" />
        <activity android:name=".Counselling.CounclingViewReservationManager" />
        <activity android:name=".Counselling.CounclingViewWallPostsManager" />
        <activity android:name=".Placements.PlacementAddDriveActivity" />
        <activity android:name=".Placements.PlacementDriveActivity" />
        <activity android:name=".Placements.PlacementSendNotificationActivity" />
        <activity android:name=".Placements.PlacementViewAcademicDetailsActivity" />
        <activity android:name=".Placements.PlacementDriveManager" />
        <activity android:name=".Alumni.AlumniBlogActivity" />
        <activity android:name=".Alumni.AlumniBlogManager" />
        <activity android:name=".Alumni.AlumniJobReferalActivity" />
        <activity
            android:name=".Alumni.AlumniJobReferalManager"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Alumni.AlumniViewProfileActivity" />
        <activity android:name=".Placements.PlacementMemberListActivity" />
        <activity android:name=".Alumni.AlumniNotificationActivity" />
        <activity android:name=".Alumni.AlumniJobReferralsActivity" />
        <activity android:name=".Alumni.AlumniMemberListActivity" />
        <activity android:name=".Placements.PlacementNewDriveActivity" />
        <activity android:name=".Placement2.Placement2MainActivity" />
        <activity android:name=".Placement2.Placement2FilterList" />
        <activity
            android:name=".Placement2.Placement2SelectBranchActivity"
            android:label=""
            android:theme="@style/dialog"></activity>
    </application>

</manifest>