<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkeet.smartrevaadmin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".alumni.AlumniMainActivity" />
        <activity android:name=".councling.CounclingMainActivity" />
        <activity android:name=".fees.FeesMainActivity" />
        <activity android:name=".placements.PlacementsMainActivity" />
        <activity android:name=".alumni.AlumniMemberRequestActivity" />
        <activity android:name=".alumni.AlumniAddEventActivity" />
        <activity android:name=".alumni.AlumniEventListActivity" />
        <activity android:name=".alumni.AlumniMemberRequestManager" />
        <activity android:name=".alumni.AlumniEventListManager" />
        <activity android:name=".fees.ViewFeeActivity" />
        <activity android:name=".fees.AddFeeDetailsActivity" />
        <activity android:name=".councling.CounclingManageReservationsActivity" />
        <activity android:name=".councling.CounclingViewReservationActivity" />
        <activity android:name=".councling.CounclingMyAppointmentsActivity" />
        <activity android:name=".councling.CounclingRemarksActivity" />
        <activity android:name=".councling.CounclingViewWallPostsActivity" />
        <activity android:name=".councling.CounclingAddWallPostActivity" />
        <activity android:name=".councling.CounclingNotificationActivity" />
        <activity android:name=".councling.CounclingMyAppointmentManager" />
        <activity android:name=".councling.CounclingViewReservationManager" />
        <activity android:name=".councling.CounclingViewWallPostsManager" />
        <activity android:name=".placements.PlacementAddDriveActivity" />
        <activity android:name=".placements.PlacementDriveActivity" />
        <activity android:name=".placements.PlacementSendNotificationActivity" />
        <activity android:name=".placements.PlacementViewAcademicDetailsActivity" />
        <activity android:name=".placements.PlacementDriveManager" />
        <activity android:name=".alumni.AlumniBlogActivity" />
        <activity android:name=".alumni.AlumniBlogManager" />
        <activity android:name=".alumni.AlumniJobReferalActivity" />
        <activity android:name=".alumni.AlumniJobReferalManager" />
        <activity android:name=".alumni.AlumniViewProfileActivity"></activity>
    </application>

</manifest>